@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  --primary-bg-color: #000814;
  --secondary-bg-color: #003566;
  --link-color: #256ab4;
  -webkit-tap-highlight-color: transparent;
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}
text {
  pointer-events: none;
}
svg {
  transition: all .4s;
}
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: #000814;
}
::-webkit-scrollbar-track {
  background-color: #000814;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff80;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff98;
}

.primary-bg {
  background-color: var(--primary-bg-color);
}
.secondary-bg {
  background-color: var(--secondary-bg-color);
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  min-width: 110px;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, #2d3b50 3em, #1f2937 3em);
  color: #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, #253142 3em, #19212c 3em);
}
select option {
  color: #dfe5ec;
}

a {
  text-decoration: none;
}
.currency-input div:hover {
  border: none;
}
.coin-picture {
  width: 13px;
  height: 13px;
  margin-top: 9px;
  margin-right: 2px;
}
.banner {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1231%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c160 C 72%2c199.8 216%2c361 360%2c359 C 504%2c357 576%2c141.6 720%2c150 C 864%2c158.4 936%2c385.4 1080%2c401 C 1224%2c416.6 1368%2c262.6 1440%2c228L1440 560L0 560z' fill='rgba(24%2c 74%2c 126%2c 0.5)'%3e%3c/path%3e%3cpath d='M 0%2c409 C 57.6%2c380.8 172.8%2c239.4 288%2c268 C 403.2%2c296.6 460.8%2c562 576%2c552 C 691.2%2c542 748.8%2c232.4 864%2c218 C 979.2%2c203.6 1036.8%2c476.6 1152%2c480 C 1267.2%2c483.4 1382.4%2c284 1440%2c235L1440 560L0 560z' fill='rgba(37%2c 106%2c 180%2c 0.35)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1231'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.banner-content {
  height: 500px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
a {
  color: var(--link-color);
}